{% extends "layout.html" %}

{% block body %}
  
<h3>Hakkımda</h3>
<hr>
<p>
    Merhaba;
<br>
Ben Haluk Haçkalı. Fırsat buldukça motosikletle yolculuklara çıkan ve kamplar yapan bir ortaokul öğretmeniyim. Okuldan arta kalan zamanlarımda web tasarım, grafik tasarım, 3d model tasarımı yapmaktayım. Bilgisayara bilimlerine genel bir ilgimin olamasına rağmen uzmanlaştığım bir b alan bulunmamakta. Uğraşlarım hobi düzeyinde, amatör seviyededir. 
<br>
Seyahatlerimin fotoğraflarını yayınlayıp, yazılar yazmaktayım. Kendi tecrübelerimi ve diğer insanlardan öğrendiğim bilgileri paylaşıyorum. Çeşitli alanlarda internet siteleri yönetiyorum. 
<br>
Bu blogu tamamen kişisel amaçla kurdum. Bu blogun hizmet amacı; yönettiğim sitelerin tanıtımını yapmak ve zaman zaman gelen blog yazma isteğine cevap vermek.<br> 

<br>
*Kişisel hobilerimi birkaç ana başlık altında toplayacak olursam;<br>
   1. Motosiklet ve motosiklete dair her şey,<br>
   2. Bilgisayar bilimi (web tasarım, çizim, video edit vb),<br>
   3. Model uçak yapımı,<br>
   4. Doğa yürüyüşü ve kamp<br>
<br>
*Amatör Seviyede Kullandığım Programlar ve Uygulamalar;<br> 
  1. Davinci Resolve<br>                     
  2. Blender 2.80<br>
  3. Krita <br>
  4. Kdenlive<br> 
  5. SketchBook<br>
  6. Inkscape<br>
  7. Shotcut<br>
  8. Gimp 2.10.8<br>
  9. Joomla!<br>
  10. WordPress
</p>
{% endblock body %}